doctype html
html(lang="ru" ng-app="rpn")
	head
		title= pageTitle
		link(rel='stylesheet' type='text/css' href='css/bootstrap.css')
		link(rel='stylesheet' type='text/css' href='css/rpn.css')
		script(type='text/javascript' src='js/angular.js')
		script(type='text/javascript' src='js/angular-route.js')
		script(type='text/javascript' src='js/rpn.js')

		each js in js_files
			script(type='text/javascript' src=js)
	body
		ul(class='nav nav-pills') 
			li
				a(href='#/subjects') Cубъекты 
			li
				a(href='#/documents') Документы
			li
				a(href='#/statistic') Статистика
		div(ng-view)