<h1 ng-if="isNew">Новый акт</h1>
<h1 ng-if="!isNew">Акт</h1>
<form role="form" class="form-horizontal" ng-submit="change()">
<div class="form-group" >
	<label class="col-md-2 control-label">Составлен</label>
	<div class="col-md-2">
		<input type="date" date='yyyy-MM-dd' class="form-control" min='2012-01-01' max="2017-12-31" ng-model="act.created"/>
	</div>
</div>
<div class="form-group">
	<label class="col-md-2 control-label">Проверка</label>
	<div class="col-md-6">
	<select ng-model="act.event" class="form-control">
		<option ng-repeat="(key,title) in enums.events" value="{{key}}" ng-selected="key == act.event ">{{title}}</option>
	</select>
	</div>
</div>
<div class="form-group">
	<label class="col-md-2 control-label">тип</label>
	<div class="col-md-6">
	<select ng-model="act.type" class="form-control">
		<option ng-repeat="(key,title) in enums.types" value="{{key}}" ng-selected="key == act.type ">{{title}}</option>
	</select>
	</div>
</div>
<div class="form-group">
	<label class="col-md-2 control-label">Акт на</label>
	<div class="col-md-6">
	<select ng-model="act.place" class="form-control">
		<option ng-repeat="(key,title) in enums.places" value="{{key}}" ng-selected="key == act.place ">{{title}}</option>
	</select>
	</div>
</div>
<div class="form-group" ng-if="act.event == 'unplan'">
	<label class="col-md-2 control-label">Причина</label>
	<div class="col-md-6">
	<select ng-model="act.reason" class="form-control">
		<option ng-repeat="(key,title) in enums.reasons" value="{{key}}" ng-selected="key == act.reason ">{{title}}</option>
	</select>
	</div>
</div>
<div class="form-group">
	<label class="col-md-2 control-label">Используется лаборатория</label>
	<div class="col-md-6">
		<div class="checkbox">
				<label class="control-label">Да
					<input type="checkbox" ng-model="act.lab_used"/> 
				</label>
			</div>
	</div>
</div>
<div class="form-group">
	<label class="col-md-2 control-label">Проверка по</label>
	<div class="col-md-6">
		<select ng-model="act.control" class="form-control">
			<option ng-repeat="(key,title) in enums.controls" value="{{key}}" ng-selected="key == act.control ">{{title}}</option>
		</select>
	</div>
</div>
<div class="form-group" ng-if="act.control == 'product'">
	<label class="col-md-2 control-label">Описание по проверки</label>
	<div class="col-md-6">
		<input class="form-control" type="text" ng-model="act.control_description" placeholder="Описание проверки" required/>
	</div>
</div>
<div class="form-group">
	<label class="col-md-2 control-label">Номер предписания</label>	
	<div class="col-md-6">	
		<input class="form-control" type="text" ng-model="act.order_number" 	placeholder="Введите номер предписания" />
	</div>
</div>
<div class="form-group">
	<label class="col-md-2 control-label">Срок предписания</label>
	<div class="col-md-2">
		<input type="date" date='yyyy-MM-dd' class="form-control" min='2012-01-01' max="2017-12-31" ng-model="act.order_till"/>
	</div>
</div>
<div class="form-group">
	<label class="col-md-2 control-label">Предписание выполнено</label>
	<div class="col-md-6">
		<div class="checkbox">
				<label class="control-label">Да
					<input type="checkbox" ng-model="act.order_done"/> 
				</label>
			</div>
	</div>
</div>



<br/>
<div class="form-group">
	<div class="col-md-offset-5 col-md-3 text-right">
		<button ng-click="back()" class="btn btn-danger">Отмена</button>
		<input type="submit" value="Сохранить" class="btn btn-success">
	</div>
</div>
</form> 