<h1>Акт&nbsp;<button class="btn btn-default" ng-click="edit()">Редактировать</button>
<button class="btn btn-danger" ng-click="remove()">Удалить</button>
</h1>
<div class="model-description">
	<label>Составлен:</label> {{act.created | date:'dd.MM.yyyy'}}<br/>
	<label>Проверка:</label> {{enums.events[act.event]}} <br/>
	<label>Тип:</label> {{enums.types[act.type]}} <br/>
	<label>Место:</label> {{enums.places[act.place]}} <br/>
	<div ng-if="act.event == 'unplan'">
		<label>Причина:</label> {{enums.reasons[act.reason]}} <br/>
	</div>

	<label>Проверка по: </label> {{enums.controls[act.control]}}<br/>
	<div ng-if="act.control == 'product'">
		{{act.control_description}} <br/>
	</div>


	<label>Лаборатория:</label>
	<span ng-if="act.lab_used">Задейственна</span>
	<span ng-if="!act.lab_used">Не задейственна</span>
	<br/>

	<h3>Предписание</h3>
	<label>Номер:</label> {{act.order_number}}<br/>
	<label>Срок:</label> {{act.order_till | date:'dd.MM.yyyy'}}<br/>
	<label>Состояние:</label>
	<span ng-if="act.order_done">Выполнен</span>
	<span ng-if="!act.order_done">Невыполненно</span>
	<br/>
	
	
</div>

<h2>Протоколы&nbsp;<button class="btn btn-default" ng-click="addProtocol()">Добавить</button></h2>
<div ng-include="'app/views/protocol/list.html'"></div>
