<h1 ng-if="isNew">Добавить документ</h1>
<h1 ng-if="!isNew">Изменить документ</h1>
<form role="form" ng-submit="change()" class="form-horizontal">
<div class="form-group">
<label class="col-md-2 control-label">Название</label>
<div class="col-md-10">
<input type="text" ng-model="doc.name" class="form-control" required/>
</div>
</div>
<div class="form-group">
<label class="control-label col-md-2">Текст</label>
<div class="col-md-10">
<textarea class="form-control" rows="8" ng-model="doc.description" required></textarea>
</div>
</div>
<div class="form-group">
	<div class="col-md-offset-11 col-md-1"><input type="submit" value="Сохранить" class="btn btn-success"></div>
	</div>

</form>