<h1>Документы&nbsp;<button ng-click="add()" class="btn btn-default">Добавить</button></h1>
<ul>
	<li ng-repeat="document in documents">
		<a ng-click="view(document.id)">{{document.name}}</a>
	</li>
</ul>
