<h1 ng-if="isNew">Добавить протокол</h1>
<h1 ng-if="!isNew">Изменить протокол</h1>
<form role="form" ng-submit="change()" class="form-horizontal">
	<div class="form-group">
		<label class="col-md-2 control-label">Тип:</label>
		<div class="col-md-5" >
		<select ng-model="protocol.type" class="form-control" >
			<option ng-repeat="(key,title) in enums.types" ng-selected="key == protocol.type" value="{{key}}">{{title}}</option>
		</select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label">Число нарушений</label>
		<div class="col-md-5" >
		<input type="text" ng-model="protocol.number_violation" class="form-control"/>
		</div>
	</div>
	

	<div class="form-group">
		<label class="col-md-2 control-label">По статье</label>
		<div class="col-md-5" >
		<select ng-model="protocol.document_id" class="form-control" required>
			<option ng-repeat="doc in documents" value="{{doc.id}}">
				{{doc.name}}
			</option>
		</select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label">Сумма штрафа</label>
		<div class="col-md-5" >
		<input type="text" ng-model="protocol.summa" class="form-control"/>
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<div class="checkbox">
				<label class="control-label">Отправлено в суд
					<input type="checkbox" ng-model="protocol.send_court"/>
				</label>
			</div>
		</div>
	</div>
	<div class="form-group" ng-show="protocol.send_court">
		<div class="col-md-offset-2 col-md-5">
			
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label text-right">
			<label class="control-label">Ответа суда&nbsp;&nbsp;
				<input type="checkbox" ng-model="protocol.recv_court"/>
			</label>
		</label>
		<div class="col-md-5">
			<textarea ng-show="protocol.recv_court" class="form-control" rows="5" ng-model="protocol.recv_court_description"></textarea>
		</div>
	</div>
	<div class="form-group">
	<div class="col-md-offset-4 col-md-3 text-right">
		<button ng-click="back()" class="btn btn-danger">Отмена</button>
		<input type="submit" value="Сохранить" class="btn btn-success">
	</div>
	</div>
</form>