<table class="table">
<thead>
	<th>Тип</th>
	<th>По статье</th>
	<th>Сумма</th>
	<th>Число нарушений</th>
	<th></th>
</thead>
<tbody>
	<tr ng-repeat="protocol in protocols">
		<td>{{enums.protocolTypes[protocol.type]}}</td>
		<td><a ng-href="#/document/{{protocol.document_id}}/view">{{protocol.document.name}}</a></td>
		<td>{{protocol.summa}} руб</td>
		<td>
			{{ protocol.number_violation ? protocol.number_violation : 'Нет нарушений' }}
		</td>
		<td><a ng-click="viewProtocol(protocol.id)">Посмотреть</a></td>
	</tr>
</tbody>
</table>