<h1>Протокол на {{enums.types[protocol.type]}}&nbsp;<button class="btn btn-default" ng-click="edit()">Редактировать</button>
<button class="btn btn-danger" ng-click="remove()">Удалить</button></h1>
<div class="model-description">
<div ng-if="protocol.document != undefined">
	Статья: <a ng-href="#/document/{{protocol.document_id}}/view">{{protocol.document.name}}</a><br/>
</div>

Число нарушений: {{ protocol.number_violation ? protocol.number_violation : 'Нет нарушений' }} <br/>

<span ng-if="protocol.summa">Cумма штрафа: {{protocol.summa}}<br/></span>
<span ng-if="protocol.send_court">Отправлено в суд</span>
<span ng-if="protocol.recv_court">и есть решение суда<br/></span>
<div ng-if="protocol.recv_court_description">
<label>Решение суда</label><br/>
{{protocol.recv_court_description}}
</div>
</div>