<h1 ng-if="isNew">Добавить распоряжение</h1>
<h1 ng-if="!isNew">Изменить распоряжение</h1>

<form role="form" class="form-horizontal" ng-submit="change()">
	<div class="form-group">
		<label class="col-md-2 control-label">Номер</label>
		<div class="col-md-8">
			<input class="form-control" type="text"  ng-model="instruction.number"  placeholder="Введите номер" required/>
			<span class="help-block">Необходимо ввести номер распоряжения</span>
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label">Начало</label>
		<div class="col-md-3">
			<input type="date" class="form-control" date='yyyy-MM-dd' min='2012-01-01' max="2017-12-31" ng-model="instruction.started"/>
		</div>
		<label class="col-md-2 control-label">Конец</label>
		<div class="col-md-3">
			<input type="date"  class="form-control" date='yyyy-MM-dd' min='2012-01-01' max="2017-12-31" ng-model="instruction.ended"/>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="col-md-9"></div>
		<div class="col-md-1"><input type="submit" value="Сохранить" class="btn btn-success"></div>
	</div>
</form>