<table class="table" ng-if="instructions.length > 0">
<thead>
	<th>Номер</th>
	<th>Начало</th>
	<th>Конец</th>
	<th>Акт</th>
</thead>
<tbody>
	<tr ng-repeat="instruction in instructions">
		<td>
			<a ng-click="viewInstruction(instruction.id)">{{instruction.number}}</a>
		</td>
		<td>
			{{instruction.started | date:'dd.MM.yyyy'}}
		</td>
		<td>
			{{instruction.ended | date:'dd.MM.yyyy'}}
		</td>
		<td ng-switch on="{{instruction.act.id}}">
			<a ng-href="#/object/{{object.id}}/instruction/{{instruction.id}}/act/new" ng-switch-when="-1">Составить акт</a>
			<a ng-href="#/object/{{object.id}}/instruction/{{instruction.id}}/act/{{instruction.act.id}}/view" ng-switch-default>Акт</a>
		</td>
	</tr>
</tbody>
</table>
	
<div ng-if="instructions.length == 0">
Список распоряжений пуст
</div>