<h1>Распоряжение {{instruction.number}}&nbsp;
<button class="btn btn-default" ng-click="edit()">Редактировать</button>
<button class="btn btn-danger"  ng-click="remove()">Удалить</button>
</h1>
<div class="model-description">
	<label>Объект:</label> <a ng-href="#/object/{{instruction.object_id}}/view">{{instruction.object.name}}</a><br/>
	<label>Начало:</label> {{instruction.started | date:'dd.MM.yyyy'}}<br/>
	<label>Конец:</label> {{instruction.ended | date:'dd.MM.yyyy'}}<br/>
</div>

<a ng-href="#/object/{{instruction.object_id}}/instruction/{{instruction.id}}/act/{{instruction.act.id}}/view" ng-if="instruction.act.id != -1">
	<button class="btn btn-primary">Посмотреть акт</button>
</a>
<a ng-href="#/object/{{instruction.object_id}}/instruction/{{instruction.id}}/act/new" ng-if="instruction.act.id == -1"><button class="btn btn-primary">Составить акт</button></a>
<!-- <div ng-switch on="{{instruction.act.id}}">
	<a ng-href="#/object/{{object.id}}/instruction/{{instruction.id}}/act/new" ng-switch-when="-1">Составить акт</a>
	<a ng-href="" ng-switch-default>Акт</a>
</div>
 -->
