<h2>Отобразить акты</h2>
<form role="form" class="form-inline" ng-submit="show()">
<div class="form-group" >
	<label class="control-label">От&nbsp;&nbsp;</label>
</div>
<div class="form-group" >
	<label>
		<input type="date" date='yyyy-MM-dd' class="form-control" min='2012-01-01' max="2017-12-31" ng-model="period.from"/>
	</label>&nbsp;&nbsp;
</div>
<div class="form-group" >
	<label class="control-label">До&nbsp;&nbsp;</label>
</div>
<div class="form-group" >
	<label>
		<input type="date" date='yyyy-MM-dd' class="form-control" min='2012-01-01' max="2017-12-31" ng-model="period.to"/>
	</label>&nbsp;&nbsp;
</div>
<div class="form-group">
	<input type="submit" value="Показать" class="btn btn-success">
</div>
</form>


<div ng-show="isLoaded" class="row">
<div ng-include="'/app/views/statistic/partial/list-subjects.html'"></div>
<div ng-include="'/app/views/statistic/partial/list-acts.html'"></div>
<div ng-include="'/app/views/statistic/partial/list-protocols.html'"></div>
</div>