<h1 ng-if="isSubject">
	<span ng-if="isNew">Добавить субъект</span>
	<span ng-if="!isNew">Cубъект {{object.name}}</span>	
</h1>
<h1 ng-if="!isSubject">
	<span ng-if="isNew">Добавить объект</span>
	<span ng-if="!isNew">Объект {{object.name}}</span>	
</h1>

<form role="form" class="form-horizontal" ng-submit="change()">
	<div class="form-group">
		<label class="col-md-2 control-label">Название</label>
		<div class="col-md-8">
			<input class="form-control" type="text" ng-model="object.name" placeholder="Введите название" required/>
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label">Расположение</label>
		<div class="col-md-2">
			<select ng-model="object.place" class="form-control">
				<option ng-repeat="(key,title) in enums.place" value="{{key}}" ng-selected="key == object.place">
			{{title}}	
				</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label">Адрес</label>
		<div class="col-md-8">
			<input class="form-control" type="text" ng-model="object.address" placeholder="Введите адрес" required/>
		</div>
	</div>
	<div ng-if="isSubject">
		<div class="form-group">
			<label class="col-md-2 control-label">ИНН</label>	
			<div class="col-md-8">	
				<input class="form-control" type="text" ng-model="object.inn" 	placeholder="Введите ИНН" required/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">ОГРН</label>	
			<div class="col-md-8">	
				<input class="form-control" type="text" ng-model="object.ogrn" 	placeholder="Введите ОГРН" required/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">Бизнес субъекта</label>	
			<div class="col-md-2">	
				<select ng-model="object.business" class="form-control">
					<option ng-repeat="(key,title) in enums.business" value="{{key}}" ng-selected="key == object.business ">{{title}}</option>
				</select>
			</div>
		</div>
		
		
		
	</div>
	<div class="row">
		<div class="col-md-offset-7 col-md-3 text-right">
			<button ng-click="back()" class="btn btn-danger">Отмена</button>
			<input  type="submit" value="Сохранить" class="btn btn-success">
		</div>
	</div>
	
</form>