<h1>Субъекты <button class="btn btn-default" ng-click="add()">Добавить</button></h1>
<table class="table">
<thead>
	<th>Название</th>
	<th>Расположение</th>
	<th>Адрес</th>
	<th>ИНН</th>
	<th>ОГРН</th>	
	<th>Размер</th>
</thead>
<tbody>
	<tr ng-repeat="object in objects">
		<td><a ng-click="view(object.id)">{{object.name}}</a></td>
		<td>{{enums.place[object.place]}}</td>
		<td>{{object.address}}</td>
		<td>{{object.inn}}</td>
		<td>{{object.ogrn}}</td>
		<td>{{enums.business[object.business]}}</td>
	</tr>
</tbody>
</table>
<div class="row">
    <div class="col-md-11"></div>
    <div class="col-md-1">
   		<button class="btn btn-primary" ng-click="add()">Добавить</button>
    </div>
</div>