<table class="table" ng-if="objects.length > 0">
<thead>
	<th>Название</th>
	<th>Расположение</th>
	<th>Адрес</th>
</thead>
<tbody>
	<tr ng-repeat="item in objects">
		<td><a ng-click="viewObject(item.id)">{{item.name}}</a></td>
		<td>{{enums.place[item.place]}}</td>
		<td>{{item.address}}</td>
	</tr>
</tbody>
</table>

<div ng-if="objects.length == 0">
Список объектов пуст
</div>