<div class="row">
	<div class="model-description col-md-5">
		<h1>
			{{object.name}}
		</h1>

		<p class="row">
			<div class="col-md-3">Расположение:</div>
			<div class="col-md-9">{{enums.place[object.place]}}</div>
		</p>

		<p class="row">
			<div class="col-md-3">Адрес:</div>
			<div class="col-md-9">{{object.address}}</div>
		</p>
		<div ng-if="isSubject">
			<p class="row" >
				<div class="col-md-3">ИНН:</div>
				<div class="col-md-9">{{object.inn}}</div>
			</p>
			<p class="row">
				<div class="col-md-3">ОГРН:</div>
				<div class="col-md-9">{{object.ogrn}}</div>
			</p>
			<p class="row">
				<div class="col-md-3">Бизнес:</div>
				<div class="col-md-9">{{enums.business[object.business]}}</div>
			</p>
		</div>
		<br/><br/>
		<p class="text-right">
			<button class="btn btn-default" ng-click="edit()">Редактировать</button>
			<button class="btn btn-danger"  ng-click="remove()">Удалить</button>
		</p>
		<br/>
	</div>
	<div ng-if="isSubject" class="col-md-7">
		<div class="panel panel-primary">
			<div class="panel-heading">
    			<h3 class="panel-title">Объекты</h3>
    		</div>
    		<div class="panel-body">
    			<div ng-include src="'/app/views/object/list-objects.html'"></div>
    			<div class="text-right">
    				<button ng-click="add()" class="btn btn-default">Добавить</button>
    			</div>	
    		</div>			
		</div>		
	</div>
</div>

<div class="panel panel-default" ng-if="isSubject">
	<div class="panel-heading">
    	<h3 class="panel-title">
    		Распоряжения
    	</h3>
  	</div>
  	<div class="panel-body">
  		<div ng-include src="'/app/views/instruction/list.html'"></div>
  		<div class="text-right">
  			<button ng-click="addInstruction()" class="btn btn-default">Добавить</button>
  		</div>
  	</div>
</div>