<h3>Субъекты</h3>
Проверено <b>{{subjects.length}}</b> субъектов и <b>{{number_objects}}</b> объектов: 
<table class="table" ng-if="subjects.length > 0">
<thead>
	<th>Название</th>
	<th>Расположение</th>
	<th>ИНН</th>
	<th>ОГРН</th>
	<th>Бизнес</th>
</thead>
<tbody>
	<tr ng-repeat="subject in subjects">
		<td>
			<a ng-href="/#/object/{{subject.subject.id}}/view">{{subject.subject.name}}</a>
			<p>&nbsp;&nbsp;<b>Объекты:</b>
				<span ng-repeat="item in subject.objects">&nbsp;<a ng-href="/#/object/{{item.id}}/view">{{item.name}}</a>,
				</span>
			</p>
		</td>
		<td>{{enums.object_place[subject.subject.place]}}</td>
		<td>{{subject.subject.inn}}</td>
		<td>{{subject.subject.ogrn}}</td>
		<td>{{enums.object_business[subject.subject.business]}}</td>
	</tr>
</tbody>
</table>

<!-- <h3>Объекты</h3>
Проверено объектов : {{objects.objects.length}}
<table class="table" ng-if="objects.objects.length > 0">
<thead>
	<th>Название</th>
	<th>Расположение</th>
</thead>
<tbody>
	<tr ng-repeat="item in objects.objects">
		<td>
			<a ng-href="/#/object/{{item.id}}/view">{{item.name}}</a>
		</td>
		<td>{{enums.object_place[item.place]}}</td>
	</tr>
</tbody>
</table>

 -->