<h2>Акты</h2>
Составлено <b>{{acts.length}}</b> {{ acts.length>5 ? 'актов' : 'акта' }} 
<table class="table" ng-if="acts.length > 0">
<thead>
	<th>Субъект</th>
	<th>Номер распоряжения</th>
	<th>Проверка</th>
	<th>Тип проверки</th>
	<th>Категория</th>
	<th>Причина</th>
	<th>Номер предписания</th>
	<th>Срок предписания</th>
	<th>Предписание выполнено</th>
	<th>Лабораторные анализы</th>
	<th>Проверка по</th>
	<th>Описание проверки</th>
</thead>
<tbody>
	<tr ng-repeat="act in acts">
		<td>
			<a ng-href="/#/object/{{act.object_id}}/view">{{act.object_name}}</a>
		</td>
		<td>{{act.instruction_number}}</td>
		<td>{{enums.event[act.event]}}</td>
		<td>{{enums.type[act.type]}}</td>
		<td>{{enums.act_place[act.place]}}</td>
		<td>{{enums.reason[act.reason] || '-'}}</td>
		<td>{{act.order_number}}</td>
		<td>{{act.order_till | date:'dd.MM.yyyy' }}</td>
		<td>{{act.order_done ? 'Да' : 'Нет' }}</td>
		<td>{{act.lab_used   ? 'Да' : 'Нет' }}</td>
		<td>{{enums.control[act.control]}}</td>
		<td>{{enums.control_description}}</td>
	</tr>
</tbody>
</table>