<h2>Протоколы</h2>
Число протоколов {{protocols.length}}
<table class="table" ng-if="protocols.length > 0">
<thead>
	<th>Субъект</th>
	<th>Категория</th>
	<th>Документ</th>
	<th>Тип</th>
	<th>Сумма</th>
	<th>Отправлено в суд</th>
	<th>Есть решение суда</th>
	<th>Число нарушений</th>

</thead>
<tbody>
	<tr ng-repeat="protocol in protocols">
		<td>
			<a ng-href="/#/object/{{protocol.object_id}}/view">{{protocol.object_name}}</a>
		</td>
		<td>{{enums.act_place[protocol.act_place]}}</td>	
		<td>
			<a ng-if="protocol.doc_id > -1" ng-href="#/document/{{protocol.doc_id}}/view">{{protocol.doc_name}}</a>
			<span ng-if="protocol.doc_id == -1">-</span>

		</td>

		<td>{{enums.protocol_type[protocol.type]}}</td>
		<td>{{protocol.summa}} руб</td>
		<td>{{protocol.send_court ? 'Да' : 'Нет'}}</td>
		<td>{{protocol.recv_court ? 'Да' : 'Нет'}}</td>
		<td>{{protocol.number_violation}}</td>
	</tr>
</tbody>
</table>